<Template name="body_top">
<div id="Home">
    <div class="jumbotron">
        <h1 class="text-center">Hello, Codekamp!</h1>
        <p class="text-center">This is a place to add quote</p>
        <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    <img class="col-md-12" src="http://www.codingbyte.com/wp-content/uploads/2014/09/ios-app.jpg?1826b3" />

    <div class="jumbotron">
        <h1 class="text-center">HOW IT WORKS</h1>
        <h2 class="text-center">SOME TEXT</h2>
        <h2 class="text-center">TEXT</h2>
    </div>
</div>
</Template>