.navbar{
    margin-bottom: 0px;
    background-color: black;
}
.col-md-12{
    padding-left: 0px;
    padding-right: 0px;
}
.jumbotron{
    margin-bottom: 0px;
    padding: 100px 0px;
}
.thumbnail{
    width: 40%;
    margin: auto;
    padding: 0px;
}
.red{
    background-color: lavender;
}
.team{
    background-color: silver;
}
#relative{
      position: relative;
}
