<Template name="courses">
    <div id="WhatWeDo">
    <div class="jumbotron red">
        <h1 class="text-center">Courses Offered</h1>
      <div class="row">
        <div class="col-md-4">
            <a href="#" class="thumbnail">
                <img src="http://learn.notch8.com/assets/icon-html-436c1b28202722afe9643d84e59ceebb.png" alt="html icon">
            </a>
            <h1 class="text-center">HEADING 1</h1>
            <p class="text-center">DESCRIPTION 1</p>
        </div>


        <div class="col-md-4">
            <a href="#" class="thumbnail">
                <img src="http://learn.notch8.com/assets/icon-html-436c1b28202722afe9643d84e59ceebb.png" alt="html icon">
            </a>
            <h1 class="text-center">HEADING 2</h1>
            <p class="text-center">DESCRIPTION 2</p>
        </div>


        <div class="col-md-4">
            <a href="#" class="thumbnail">
                <img src="http://learn.notch8.com/assets/icon-html-436c1b28202722afe9643d84e59ceebb.png" alt="html icon">
            </a>
            <h1 class="text-center">HEADING 3</h1>
            <p class="text-center">DESCRIPTION 3</p>
        </div>
          </div>
    </div>
    </div>
</Template>