<Template name="header">
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}">CODEKAMP</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav" role="tablist">

                    <li><a href="#Home">Home</a></li>
                    <li><a href="#WhatWeDo">What We Do</a></li>
                    <li><a href="#ContactUs">Contact Us</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="true">Dropdown
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">

                    {{#if currentUser}}
                        <a href="{{pathFor 'profile'}}">Profile</a>
                        <a href="/logout">LogOut</a>
                    {{else}}
                        <a href="{{pathFor 'signIn'}}">SignIn</a>
                        <a href="{{pathFor 'signUp'}}">Register Now</a>
                    {{/if}}

                </ul>
            </div>
        </div>
    </nav>

</Template>