<Template name="RegisterNow">
    <br><br><br><br><br><br><br>

    <span>Hi there!</span>
    <ul class="nav navbar-nav">
        {{> atForm state='signUp'}}
    </ul>
</Template>


<Template name="SignIn">
    <br><br><br><br><br><br><br>
    <span>Chaudhary saab kaa chutiyapa!</span>
    <ul class="nav navbar-nav">
        {{> atForm}}
    </ul>
</Template>


