<Template name="team">
    <div id="ContactUs">
         <div class="team">
            <h1 class="text-center">Meet our team</h1>
            <p class="text-center">Some text</p>

             <div class="media">
                <a class="media-left thumbnail" href="#">
                <img src="http://dev.moldedbits.com/wp-content/uploads/2013/10/463858_511346192254120_155623565_o1.jpg" alt="pic1">
                </a>
                    <div class="media-body">
                        <h4 class="media-heading">Prashant Chaudhary</h4>
                        <p>This is the place of profile information</p>
                    </div>
             </div>
         </div>
    </div>
</Template>