<Template name="home">
    {{#if currentUser}}
        {{> loggedInHome}}
    {{else}}
        {{> nonLoggedInHome}}
    {{/if}}

</Template>

<Template name="nonLoggedInHome">

    <div id="relative" data-spy="scroll" data-target="#bs-example-navbar-collapse-1">
        {{> body_top}}
        {{> courses}}
        {{> team}}
    </div>
</Template>


<Template name="loggedInHome">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="container">
        <span>this will be newsfeed page.</span>
    </div>
</Template>

<Template name="profile">
    <div class="container">
        <div class="col-md-4">
            <br><br><br><br><br><br><br><br>
            <div class="thumbnail">
                {{#with currentUser}}
                    {{> userProfile}}
                {{/with}}
            </div>
<a href="{{pathFor 'editProfile'}}">EditProfile</a>
        </div>
    </div>
</Template>

<Template name="userProfile">
    <img src="http://dev.moldedbits.com/wp-content/uploads/2013/10/463858_511346192254120_155623565_o1.jpg" alt="...">
    <div class="caption">
        <h3>{{username}}</h3>
        <p>{{emails.[0].address}}</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
    </div>
</Template>

<Template name="editProfile">
    {{#with currentUser}}
        {{> edit}}
    {{/with}}

</Template>


<Template name="edit">
    <br><br><br><br><br><br><br><br><br><br>
    <div class="thumbnail">
        <img src="{{profile.profileImage}}"/>
    </div>
    <h4>Name========{{profile.fullName}}</h4>
    <h4>EmailId====={{emails.[0].address}}</h4>
    <h4>Sex========={{profile.sex}}</h4>
    <form class="image">
        <input type="file" name="profileImage">
        <input type="submit" value="upload">
    </form>
    <form class='sex'>
        <div>sex:</div>
        <input type="text" name="sex">
        <div>fullname:</div>
        <input type="text" name="fullName">
        <input type="submit" value="Submit">
    </form>

</Template>















